TestClient/Service References/IntegrationPartner/IFeedbackEndpoint1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19076/IFeedbackEndpoint.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoverMyMeds.Feedback.IntegrationPartnerEndpoint" />
  <xs:element name="UpdatePriorAuthorizationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoverMyMeds.Feedback.IntegrationPartnerEndpoint" minOccurs="0" name="FeedbackData" nillable="true" type="q1:FeedbackUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePriorAuthorizationRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>